## Deliverable 3. Create a Travel Itinerary Map.

In [6]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [9]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(os.path.join("..","Vacation_Search/WeatherPy_vacation.csv"))
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Alice Springs,AU,71.15,clear sky,-23.7000,133.8833,Desert Palms Alice Springs
1,6,Viet Tri,VN,91.35,overcast clouds,21.3019,105.4308,Trung Tâm Hội Nghị Tỉnh Phú Thọ
2,9,Kavaratti,IN,82.04,overcast clouds,10.5669,72.6420,Green leaf
3,12,Hilo,US,83.28,moderate rain,19.7297,-155.0900,Hilo Hawaiian Hotel
4,21,Matara,LK,81.91,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
5,22,Kuah,MY,87.78,few clouds,6.3265,99.8432,Azio Hotel
6,25,Baiao,BR,76.35,scattered clouds,-2.7906,-49.6717,Município de Baião
7,27,Rikitea,PF,73.42,overcast clouds,-23.1203,-134.9692,People ThankYou
8,28,Kununurra,AU,82.38,broken clouds,-15.7667,128.7333,Hotel Kununurra
9,29,Bethel,US,72.45,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury

In [12]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [13]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]== "Sterling"]
vacation_end = vacation_df.loc[vacation_df["City"]== "Sterling"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]== "Bethel"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]== "Cohoes"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]== "Broome"]

In [15]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]
print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3:{stop3}')

Start: (39.0062, -77.4286), End: (39.0062, -77.4286)
Stop 1: (41.3712, -73.414), Stop 2: (42.7742, -73.7001), Stop 3:(42.2506, -75.833)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,389,Sterling,US,73.42,overcast clouds,39.0062,-77.4286,Hampton Inn & Suites Washington-Dulles Interna...
1,29,Bethel,US,72.45,clear sky,41.3712,-73.4140,Courtyard by Marriott Danbury
2,495,Cohoes,US,74.39,broken clouds,42.7742,-73.7001,Hilton Garden Inn Troy
3,250,Broome,US,70.00,broken clouds,42.2506,-75.8330,Chenango Valley State Park

In [19]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [30]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30, 31), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))